src/node-red-code/flows.json
[
    {
        "id": "e0adf31a77c645e4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a356cc4a1972d763",
        "type": "mqtt out",
        "z": "e0adf31a77c645e4",
        "name": "",
        "topic": "de/lab@home/lightControl",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2596fea3c10cf930",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "b47a9355786833b0",
        "type": "ui_button",
        "z": "e0adf31a77c645e4",
        "name": "",
        "group": "e38e2d053aa9a3b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "a356cc4a1972d763"
            ]
        ]
    },
    {
        "id": "fbe8b7dd2797aa50",
        "type": "ui_button",
        "z": "e0adf31a77c645e4",
        "name": "",
        "group": "e38e2d053aa9a3b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "a356cc4a1972d763"
            ]
        ]
    },
    {
        "id": "37aa8c46b9104ca1",
        "type": "mqtt in",
        "z": "e0adf31a77c645e4",
        "name": "",
        "topic": "de/lab@home/data/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "2596fea3c10cf930",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "66236ccb46b2ef89"
            ]
        ]
    },
    {
        "id": "66236ccb46b2ef89",
        "type": "function",
        "z": "e0adf31a77c645e4",
        "name": "Temperature",
        "func": "\nreturn {\"value\": msg.payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 280,
        "wires": [
            [
                "eaaef7bd75080a47",
                "f9c61a40a48f5efe"
            ]
        ]
    },
    {
        "id": "eaaef7bd75080a47",
        "type": "ui_gauge",
        "z": "e0adf31a77c645e4",
        "name": "",
        "group": "e38e2d053aa9a3b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lab@Home Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "6a0c85887c9c5256",
        "type": "function",
        "z": "e0adf31a77c645e4",
        "name": "Humidity",
        "func": "\nreturn {\"value\": msg.payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 380,
        "wires": [
            [
                "68833af0b36adbd6"
            ]
        ]
    },
    {
        "id": "4b0ac0502aed492c",
        "type": "mqtt in",
        "z": "e0adf31a77c645e4",
        "name": "",
        "topic": "de/lab@home/data/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "2596fea3c10cf930",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 380,
        "wires": [
            [
                "6a0c85887c9c5256"
            ]
        ]
    },
    {
        "id": "68833af0b36adbd6",
        "type": "ui_gauge",
        "z": "e0adf31a77c645e4",
        "name": "",
        "group": "e38e2d053aa9a3b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lab@Home Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "277c56b33ddf4bd4",
        "type": "mqtt out",
        "z": "e0adf31a77c645e4",
        "name": "",
        "topic": "de/heizungsanlage/data",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2596fea3c10cf930",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "a975d49bf49714ed",
        "type": "ui_switch",
        "z": "e0adf31a77c645e4",
        "name": "",
        "label": "receive data",
        "tooltip": "",
        "group": "e38e2d053aa9a3b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 660,
        "wires": [
            [
                "277c56b33ddf4bd4"
            ]
        ]
    },
    {
        "id": "929e2f2be9427e61",
        "type": "mqtt in",
        "z": "e0adf31a77c645e4",
        "name": "",
        "topic": "de/heizungsanlage/data/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "2596fea3c10cf930",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 560,
        "wires": [
            [
                "66236ccb46b2ef89"
            ]
        ]
    },
    {
        "id": "f9c61a40a48f5efe",
        "type": "ui_gauge",
        "z": "e0adf31a77c645e4",
        "name": "",
        "group": "e38e2d053aa9a3b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Heizungsanlage Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "2596fea3c10cf930",
        "type": "mqtt-broker",
        "name": "HiveMq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e38e2d053aa9a3b8",
        "type": "ui_group",
        "name": "Default",
        "tab": "f2d9053b76d56956",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2d9053b76d56956",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]